.slno .shape {
  background: #7e7e7e;
  width: 40px;
  height: 40px;
  position: absolute;
  text-align: center;
  transform: rotate(20deg);
  z-index: 0;
}

.slno .shape:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: #7e7e7e;
  transform: rotate(135deg);
}

.slno {
  width: 4rem;
  position: relative;

}

.sl {
  color: #fff;
  position: absolute;
  top: 5px;
  left: 3px;
  z-index: 99;
  font-size: 20px;
  font-weight: 700;
}

.name-ar {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-align: right;

}

a.card-lin {
  text-decoration: none;
  color: grey;
  transition: 0.3s;
}

.card-lin:hover {
  border: 1px solid #f50173;
  box-shadow: 0 0 15px -4px #53535396;
}

.card-lin:hover .shape,
.card-lin:hover .shape:before {
  background: #f50173;
}

ul.ayat-list li {
  list-style-type: none;
  border: 1px solid #888;
  width: 100%;
}