@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

/* @font-face {
  font-family: Hind Siliguri;
  src: url(../fonts/HindSiliguri-Medium.ttf);
} */

/* #tasbih {
  background: -webkit-linear-gradient(to top, #627386, #78a0e8);
  background: linear-gradient(to top, #627386, #78a0e8);
  height: 100vh;
} */
span {
  font-family: 'Hind Siliguri', sans-serif;
}

.ortho {
  font-family: 'Hind Siliguri', sans-serif;
  /* color: rgb(0, 255, 255) !important; */
  font-size: 16px;
}

.t1,
.t2,
.t3 {
  font-size: 18px;
  /* color: rgb(0, 255, 255); */
  margin: 30px 20px;
  font-weight: 900;
}

@keyframes example {
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.number-count {
  font-size: 40px;
  padding: 10px 25px;
  background-color: #243b55;
  border-radius: 8px;
  color: rgb(0, 255, 255);
  font-family: 'Hind Siliguri', sans-serif;
}

.popup-text {
  padding: 0 100px;
}

#popup {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  margin-right: 5vw;
  transform: scale(0);
  transition: 0.5s;
  animation: bounce 0.3s;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

.poppup-card {
  padding: 10px;
  background: rgba(33, 167, 167, 0.945);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup-headung {
  text-align: center;
}

.popup-head {
  font-size: 25px;
  color: #141e30;
  font-weight: bold;
  margin: 20px auto;
}

.popup-text-content {
  font-size: 16px;
  color: #141e30 !important;
  font-weight: normal;
}

.popup-colse-button {
  font-family: HindSiligori !important;
  border: none;
  outline: none;
  background-color: #141e30;
  color: rgb(0, 255, 255);
  padding: 10px 18px;
  font-size: 17px;
  margin: 10px;
  font-weight: bold;
  display: block;
  border-radius: 4px;
  margin: 15px auto;
  cursor: pointer;
}



.four {
  font-size: 90px;
  font-weight: 900;
  margin-top: 20px;
}

.pagenotfound {
  font-size: 50px;
  margin-bottom: 20px;
}

.fixed-bottoms {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 230px;
  z-index: 1030;
}

@media (max-width: 550px) {
  .headbn {
    display: none;
  }

  .popup-text {
    padding: 0 10px !important;
  }
}

.shapecorner {
  position: absolute;
  content: "";
  height: 60px;
  width: 60px;
  background: black;
  right: -1px;
  z-index: 1;
  top: -1px;
  border-radius: 0 5px 0 25px;
  transition: all linear 0.3s;
}

.brdhvr:hover .shapecorner {
  background: #f50173;
}

.numlis {
  z-index: 2;
  color: #fff;
}

.surano.w-25 {
  text-align: center;
  align-self: center;
}

.surano.w-25 svg {
  font-size: 45px;
}

.datehide {
  display: none;
}

@media (max-width: 1240px) {
  .datehide {
    display: block;
  }

  .dateshow {
    display: none;
  }
}