@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;500&family=Noto+Serif+Bengali:wght@100;200;300;400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lateef:wght@200&display=swap');

.dark .dark\:bg-hadith-dark-card {
  --tw-bg-opacity: 1;
  background-color: rgb(32 32 32 / var(--tw-bg-opacity));
}




::-webkit-scrollbar {
  @apply w-2 my-10
}

::-webkit-scrollbar-track {
  @apply bg-none my-5
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 w-2 rounded-[5px]
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300
}

.slick-prev,
.slick-next {
  display: none !important;
}

.active {
  @apply bg-[#2b9e76] text-white
}

.paginate {
  @apply w-full py-4 flex flex-wrap space-x-3 gap-2
}

.paginate a {
  @apply block px-3 py-1 text-sm bg-white rounded
}

.active a {
  @apply block px-3 py-1 text-sm bg-[#2b9e76] rounded
}